@import "tailwindcss";

html,
body {
    background: #1a1a1a;
    background-image:
            radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
            linear-gradient(to bottom right, #1a1a1a, #0a0a0a);
    background-size: 20px 20px, 100% 100%;
    background-attachment: fixed;
    min-height: 100vh;
}